# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist_electron
dist-ssr
*.local
makefile

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System and Version Control Files
.git/
.DS_Store
Thumbs.db
.nfs*

# Dependencies and Build Artifacts
.pnpm-store/
env/
venv/
vendor/
cython_debug/
core.*
*.dll

# Logs, Temporary, and Backup Files
*.tmp
*.bak
*.old
*.pid
*.seed
*.pid.lock

# Environment and Configuration Files
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# JavaScript/TypeScript
.pnpm-debug.log*
*.tsbuildinfo

# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env

# Go
*.exe
*.out
*.test